@namespace DrawnUi.Views
@using AppoMobi.Blazor.Gestures
@using DrawnUi.Draw
@using Microsoft.AspNetCore.Components
@using Microsoft.Maui.Graphics
@using Microsoft.JSInterop
@inherits DrawnView
@implements IAsyncDisposable
@inject IJSRuntime JS

@if (IsVisible)
{

            <div class="xaml-element xaml-contentview xaml-canvas @Class"
                @ref="_hostElement"
                style="@CssMargins @CssPadding @CssGridPosition @CssStyle @GestureStyle">

                @if(RenderingMode == RenderingModeType.Default)
                {
                    <SkiaView Superview="@this" DrawHandler="DrawFrame"
                              Width="@CanvasElementWidth" Height="@CanvasElementHeight" />
                }
                else
                {
                    <SkiaViewAccelerated Superview="@this" DrawHandler="DrawFrame"
                                        Width="@CanvasElementWidth" Height="@CanvasElementHeight" />
                }

                <div class="xaml-canvas-content">
            @ChildContent
        </div>
    </div>

}

<style>
    .xaml-canvas {
        position: relative;
        overflow: hidden;
    }

    .xaml-canvas-content {
        position: absolute;
        inset: 0;
    }
</style>

@code {

    private ElementReference _hostElement;
    private BlazorGestureEffect? _gestureEffect;

    [Parameter]
    public SkiaControl? RootControl { get; set; }

    public virtual bool Focus()
    {
        return true;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        base.BackgroundColor = ParsedBackgroundColor;
        base.Margin = ParsedMargin;
        base.RenderingMode = RenderingMode;
        base.CanRenderOffScreen = CanRenderOffScreen;
    }

    protected override Task OnInitializedAsync()
    {
        if (RootControl != null)
        {
            SetChildren(new[]
            {
                RootControl
            });
        }
        else
        {
            ClearChildren();
        }

        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            SetupRenderingLoop();
        }

        if (CaptureInput)
        {
            _gestureEffect ??= new BlazorGestureEffect(JS);
            await _gestureEffect.AttachAsync(_hostElement, this);
        }
        else if (_gestureEffect != null)
        {
            await _gestureEffect.DetachAsync();
        }
    }

    private float CanvasElementWidth => WidthRequest > 0 ? (float)WidthRequest : 100f;

    private float CanvasElementHeight => HeightRequest > 0 ? (float)HeightRequest : 100f;

    public MarkupString CssStyle
    {
        get
        {
            var bg = BackgroundColorCss;
            var ret = $"background: {bg}; {CssLayoutAlignment} {Style}";
            return new MarkupString(ret);
        }
    }

    [Parameter]
    public new RenderingModeType RenderingMode { get; set; }

    [Parameter]
    public new bool CanRenderOffScreen { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public new GesturesMode Gestures { get; set; } = GesturesMode.Disabled;

    private bool CaptureInput => Gestures != GesturesMode.Disabled;

    private string GestureStyle => CaptureInput ? "touch-action:none; user-select:none;" : string.Empty;

    public async ValueTask DisposeAsync()
    {
        if (_gestureEffect != null)
        {
            try { await _gestureEffect.DisposeAsync(); }
            catch { }
        }

        OnDisposing();
    }

}


